@use "variables";

*, *::before, *::after {
    box-sizing: border-box;
  }
  html {
    color: var(--c-text);
    font-family: variables.$font;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: -0.16px;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
    background-color: #EBEAE8;
  }
  
  .admin-bar header{
    top: 32px;
  }
  
  main {
    display: block;
  }

  .container {
    max-width: calc(1320px + 48px);
    width: 100%;
    padding: 0 24px;
    margin: 0 auto;
    box-sizing: border-box;
    @media screen and (max-width: variables.$small) {
        padding: 0 16px;
    }
  }
  
  img {
    border-style: none;
    object-fit: contain;
    max-width: 100%;
    height: auto;
  }
  
  svg{
    max-width: 100%;
    height: auto;
  }
  
  audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
  }
  
  path{
    transition: 0.3s;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  textarea, input, select{
    font-family: variables.$font;
    outline: none;
  }
  
  textarea {
    resize: vertical;
  }
  
  strong {
    font-weight: 700;
  }
  
  i{
    font-style: normal;
  }
  
  .hidden, [hidden] {
    display: none !important;
  }
  
  .overflow-hidden{
    overflow: hidden;
  }
  
  .site{
    overflow: hidden;
  }
  
  .site, section {
    position: relative;
  }
  
  .center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .grid-flex {
    display: flex;
    flex-wrap: wrap;
  }
  
  .grid-center{
    justify-content: center;
    align-items: center;
  }
  
  .grid-between-top{
    justify-content: space-between;
  }
  .grid-between{
    align-items: center;
    justify-content: space-between;
  }
  
  .grid-between-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .grid {
    margin: 0 -8px -16px;
    @media screen and (max-width: variables.$medium) {
      margin: 0 -6px -12px;
    }
    @media screen and (max-width: variables.$small) {
      margin: 0 0 -6px;
    }
  }
  
  .grid-item-2 {
    width: calc(100% / 2 - 16px);
    margin: 0 8px 16px;
    &:not(.form-card){
      @media screen and (max-width: variables.$medium) {
        margin: 0 0 12px;
        width: 100%;
      }
      @media screen and (max-width: variables.$small) {
        margin: 0 0 12px;
      }
    }
  }
  
  .grid-item-3 {
    width: calc(100% / 3 - 16px);
    margin: 0 8px 16px;
    @media screen and (max-width: variables.$large) {
      width: calc(50% - 16px);
      margin: 0 8px 12px;
    }
    @media screen and (max-width: variables.$small) {
      width: 100%;
      margin: 0 0 12px;
    }
  }
  
  .grid-item-4 {
    width: calc(100% / 4 - 16px);
    margin: 0 8px 16px;
    @media screen and (max-width: variables.$large) {
      margin: 0 8px 16px;
      width: calc(100% / 2 - 16px);
    }
    @media screen and (max-width: variables.$small) {
      margin: 0 6px 12px;
      width: calc(100% / 2 - 12px);
    }
  }
  
  section{
      padding: 60px 0;
      @media screen and (max-width: variables.$small) {
          padding: 30px 0;
      }
  }
  
  .section-first{
    padding: 140px 0 60px;
    @media screen and (max-width: variables.$medium) {
        padding: 120px 0 60px;
    }
  }
  
  .container-large{
    max-width: 956px;
  }
  
  .container-small{
    max-width: 800px;
  }
  
  h1, h2, h3, h4, h5,
  .h1, .h2, .h3, .h4, .h5 {
    font-family: variables.$font;
    font-weight: 600;
    color: var(--c-text);
    margin: 0;
  }
  
  h1, .h1 {
    font-size: 64px;
    line-height: 104%;
    letter-spacing: -0.96px;
    @media screen and (max-width: variables.$large) {
      font-size: 52px;
    }
    @media screen and (max-width: variables.$small) {
      font-size: 42px;
    }
  }
  
  h2, .h2 {
    font-size: 48px;
    line-height: 118%;
    letter-spacing: -0.72px;
    @media screen and (max-width: variables.$medium) {
      font-size: 40px;
    }
    @media screen and (max-width: variables.$small) {
      font-size: 32px;
    }
  }
  
  h3, .h3 {
    font-size: 24px;
    line-height: 134%; 
    letter-spacing: -0.264px;
    @media screen and (max-width: variables.$small) {
      font-size: 20px;
    }
  }
  
  h4, .h4 {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: -0.36px;
  }
  
  h5, .h5 {
    font-size: 14px;
  }
  
  .small-text{
    font-size: 14px;
  }
  
  a {
    color: var(--c-color);
    text-decoration: none;
    transition: .3s;
  }
  
  p, figure {
    margin: 0 0 16px;
  }
  
  .m-top{
    margin-top: 50px;
    @media screen and (max-width: variables.$small) {
      margin-top: 35px;
    }
  }
  
  .m-top-m{
    margin-top: 36px;
    @media screen and (max-width: variables.$small) {
      margin-top: 24px;
    }
  }
  
  .m-top-s{
    margin-top: 24px;
    @media screen and (max-width: variables.$small) {
      margin-top: 12px;
    }
  }
  
  ul, ol{
    padding-left: 25px;
       
  }
  
  .background{
    background-size: cover;
    background-position: center;
  }
  
  .button, input[type="submit"]{
    padding: 17px 59px;
    text-align: center;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
    font-weight: 600;
    transition: .3s;
    color: var(--c-color);
    cursor: pointer;
    border-radius: 8px;
  }
  
  .button-primari{
    background-color: var(--c-color);
    &:hover{
      background-color: var(--c-color);
      border-color: var(--c-color);
    }
  }
  
  .no-margin{
    margin: 0!important;
  }
  
  .medium{
    display: none!important;
    @media screen and (max-width: variables.$medium) {
      display: block!important;
    }
  }
  
  .no-medium{
    @media screen and (max-width: variables.$medium) {
      display: none!important;
    }
  }
  
  .small{
    display: none;
    @media screen and (max-width: variables.$small) {
      display: block;
    }
  }
  
  .no-small{
    @media screen and (max-width: variables.$small) {
      display: none;
    }
  }
  
  .mobile{
    display: none;
    @media screen and (max-width: variables.$mobile) {
      display: block;
    }
  }
  
  .no-mobile{
    @media screen and (max-width: variables.$mobile) {
      display: none;
    }
  }
  
  #shadow-host-companion{
    padding: 0;
  }
  
  [data-aos="fade-up"]{
    opacity: 0;
    transition-property: opacity,-webkit-transform;
    transition-property: opacity,transform;
    transition-property: opacity,transform,-webkit-transform;
    transition-timing-function: ease;
    transition-duration: .5s;
    transform: translate3d(0,80px,0);
  }
  .aos-animate{
    opacity: 1;
    -webkit-transform: none!important;
    transform: none!important;
  }
  

/* Стили для скрытого попапа */

.popup-overlay {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(64, 113, 234, 0.0);
  backdrop-filter: blur(0px);
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out,
    backdrop-filter 0.3s ease-in-out;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.show {
    visibility: visible;
    opacity: 1;
    background: rgba(64, 113, 234, 0.7);
    backdrop-filter: blur(15px);
  }
  
}

.modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1096px;
  max-width: 100%;
  height: 775px;
  max-height: 100%;
  z-index: 9999999;
  opacity: 0;
  visibility: hidden;
  @media (max-width:992px) {
    max-width: 95%;
  }
  .close-popup{
    cursor: pointer;
    position: absolute;
    right: -60px;
    top: -60px;
    transition: all .5s ease;
    &:hover{
      transform: scale(1.1);
    }
    @media (max-width:1200px) {
      right: 20px;
      top: -45px;
      z-index: 9;
    }
    @media (max-width:576px) {
      right: 20px;
      top: 18px;
      z-index: 9;
      svg{
        width: 40px;
      }
    }
  }
  .modal-guts{
    width: 100%;
    height: 100%;
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.4s ease-out;
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    padding: 20px 20px 20px 40px;
    border-radius: 30px;
    background-color: #EBEAE8;
    @media (max-width:992px) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0 auto;
      padding: 20px;
      flex-direction: column;
      border-radius: 16px;
      overflow: auto;
    }
    .popup-header{
      .popup-header__title{
        font-family: 'NT Somic';
        font-weight: bold;
        font-size: 32px;
        line-height: 36.48px;
        color: #1E1E1E;
        margin-top: 20px;
        @media (max-width:992px) {
          font-size: 24px;
          line-height: 28px;
          margin-top: 0;
          margin-bottom: 20px;
        }
        @media (max-width:768px) {
          max-width: 314px;
        }
        @media (max-width:576px) {
          font-size: 18px;
          line-height: 20px;
          width: 240px;
        }
        br{
          @media (max-width:992px) {
            display: none;
          }
        }
      }
      .popup-header__image{
        opacity: 1;
        position: absolute;
        left: 0;
        bottom: 0;
        transition: 
          opacity 0.5s ease-out 0.3s,
          transform 0.5s ease-out 0.3s; 
          @media (max-width:992px) {
            display: none;
          }
      }
    }
  }
  &.show {
    opacity: 1;
    visibility: visible;
  }
}

/* Контейнер попапа */
.popup-content {
  padding: 40px;
  width: 590px;
  background-color: #4071EA;
  max-width: 90%;
  border-radius: 30px;
  text-align: center;
  position: relative;
  overflow: auto;
  @media (max-width:768px) {
    border-radius: 16px;
    padding: 20px;
  }
  @media (max-width:992px) {
    width: 100%;
    max-width: 100%;
  }
  .contact-form__wrapper{
    
    .contact-form__row{
      display: flex;
      flex-direction: column;
      margin-bottom: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      .contact-form__label{
        text-align: left;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.2px;
        color: #D9E3FB;
        display: flex;
        column-gap: 28px;
      }
      .checkbox-field-set {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 40px;
        .wpcf7-list-item {
          position: relative;
          cursor: pointer;
          margin: 0;
        }
        .wpcf7-form-control-wrap{
          width: 260px;
          .wpcf7-form-control{
            display: grid;
            row-gap: 20px;
            grid-template-columns: repeat(2, 1fr);
          }
        }
        .wpcf7-list-item input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          width: 20px;
          height: 20px;
          cursor: pointer;
          z-index: -1;
        }
        .wpcf7-list-item .wpcf7-list-item-label {
          display: flex;
          align-items: center;
          gap: 10px;
          padding-left: 30px;
          cursor: pointer;
          position: relative;
          font-family: 'Inter',sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 19.2px;
          color: #D9E3FB;

        }
        .wpcf7-list-item .wpcf7-list-item-label::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
          height: 20px;
          background: #fff;
          border-radius: 4px;
          transition: all 0.3s ease;
        }
        .wpcf7-list-item .wpcf7-list-item-label::after {
          content: "";
          position: absolute;
          left: 6px;
          top: 50%;
          transform: translateY(-50%);
          width: 8px;
          height: 8px;
          background: #1E1E1E;
          border-radius: 1px;
          opacity: 0;
          transition: opacity 0.3s ease;
        }
        .wpcf7-list-item input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
          opacity: 1;
        }
      }
      .wpcf7-form-control-wrap{
        input{
          width: 100%;
          height: 70px;
          padding-left: 60px;
          padding-bottom: 20px;
          padding-top: 20px;
          background-color: transparent;
          border: none;
          border-bottom: 1px solid #ffffff;
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 25.2px;
          color: #ffffff;
          &.wpcf7-not-valid{
            border-color: red !important;
            text-align: left;
          }
        }
      }
      .custom-country-list{
        border: none;
        border-bottom: 1px solid #ffffff;
        width: 100%;
        cursor: pointer;
        position: relative;
        &::before{
          content: '';
          position: absolute;
          background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 7L6.5 6.91964M6.5 7L0.999999 1M6.5 7L12 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
          width: 11px;
          height: 6px;
          right: 5px;
          top: 29px;
          background-repeat: no-repeat;
          background-size: contain;
        }
        .selected-country{
          display: flex;
          align-items: center;
          column-gap: 8px;
          text-align: left;
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          font-size: 18px;
          line-height: 25.2px;
          color: #D9E3FB;
          margin-top: 20px;
          margin-bottom: 30px;
          padding-left: 66px;
          img{
            width: 22px;
            height: 16px;
            object-fit: cover;
            border-radius: 2px;
          }
        }
        ul{
          list-style: none;
          padding-left: 10px;
          padding-right: 10px;
          margin: 0;
          list-style: none;
          max-height: 260px;
          overflow-y: auto;
          background: white;
          border: 1px solid #ccc;
          display: none;
          position: absolute;
          width: 100%;
          top: 100%;
          left: 0;
          z-index: 1000;
          scrollbar-width: thin;
          scrollbar-color: #dddddd #f1f1f1;
          &::-webkit-scrollbar {
            width: 8px;
          }
          &::-webkit-scrollbar-track {
              background: #f1f1f1;
              border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb {
              background: #dddddd;
              border-radius: 10px;
          }
          &::-webkit-scrollbar-thumb:hover {
              background: #dddddd;
          }
          li{
            text-align: left;
            cursor: pointer;
            padding-bottom: 5px;
            padding-top: 5px;
            &:last-child{
              padding-bottom: 0;
            }
            img{
              width: 22px;
              height: 16px;
              object-fit: cover;
              border-radius: 2px;
            }
          }
        }
        &.active{
          ul{
            display: block;
          }
          &::before{
            transform: rotate(180deg);
          }
        }
      }
    }
    .submited-row{
      position: relative;
      .contact-form__message{
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        p{
          font-family: 'Inter', sans-serif;
          font-weight: 500;
          font-size: 14px;
          line-height: 1.4;
          color: #ffffff;
          margin-bottom: 0;
        }
      }
      .submited-btn{
        position: relative;
        width: 100%;
        border-radius: 50px;
        font-family: 'Inter',sans-serif;
        font-weight: 500;
        font-size: 18px;
        background-color: #F9CB6C;
        height: 65px;
        color: #1E1E1E;
        border: 0;
        transition: all .5s ease;
        
        &:hover{
          background-color: #f7ba3b;
        }
      }
    }
  }
}

.wpcf7 form .wpcf7-response-output{
  display: none!important;
}
.wpcf7-spinner{
  display: none!important;
}
.wpcf7-not-valid-tip{
  text-align: left;
  font-size: 12px;
}

.custom-country-list ul li:hover {
  background: #eee;
}

/* Стили для скрытого меню */

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: all 0.8s ease;
  opacity: 0;
  background-color: #4071EA;
  z-index: 1000;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  &::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 408px;
    background-image: url("data:image/svg+xml,%3Csvg width='375' height='408' viewBox='0 0 375 408' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.2'%3E%3Cpath d='M45.4167 140.859C42.5947 141.784 40.5998 144.519 40.4881 147.623C40.4736 148.025 40.4783 148.428 40.4736 148.883C40.2914 148.786 40.1823 148.727 40.0714 148.671C39.9398 148.604 39.8078 148.539 39.674 148.477C37.5267 147.488 35.3715 147.435 33.2009 148.408C30.0387 149.825 28.4159 153.763 29.7383 156.826C30.175 157.526 30.6118 158.226 31.0486 158.925C31.0473 158.945 31.037 158.973 31.0463 158.984C31.0718 159.012 31.1056 159.033 31.1361 159.057C31.1372 159.073 31.1318 159.096 31.1405 159.105C31.1627 159.127 31.1912 159.143 31.2171 159.161C32.271 160.363 33.6373 161.11 35.075 161.717C39.7058 163.672 44.561 164.242 49.544 163.996C49.9158 163.977 50.0976 163.817 50.2642 163.515C52.1635 160.074 53.4423 156.415 54.1096 152.544C54.4585 150.52 54.564 148.486 54.2063 146.451C53.4459 142.124 49.3997 139.554 45.4167 140.859Z' fill='white'/%3E%3Cpath d='M31.0487 158.925C30.6118 158.226 30.175 157.526 29.7383 156.826C29.9941 157.639 30.3802 158.37 31.0487 158.925Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M327.417 77.8593C324.595 78.784 322.6 81.5193 322.488 84.623C322.474 85.0253 322.478 85.4282 322.474 85.8827C322.291 85.7865 322.182 85.7266 322.071 85.6707C321.94 85.6044 321.808 85.539 321.674 85.4773C319.527 84.4881 317.371 84.4355 315.201 85.4081C312.039 86.8251 310.416 90.7626 311.738 93.8264C312.175 94.526 312.612 95.2257 313.049 95.9254C313.047 95.9454 313.037 95.9734 313.046 95.9837C313.072 96.0121 313.106 96.0331 313.136 96.0571C313.137 96.0735 313.132 96.0964 313.141 96.105C313.163 96.127 313.191 96.1427 313.217 96.1609C314.271 97.3629 315.637 98.1101 317.075 98.7171C321.706 100.672 326.561 101.242 331.544 100.996C331.916 100.977 332.098 100.817 332.264 100.515C334.163 97.0738 335.442 93.4153 336.11 89.5438C336.458 87.5197 336.564 85.4864 336.206 83.4512C335.446 79.1241 331.4 76.554 327.417 77.8593Z' fill='white'/%3E%3Cpath d='M313.049 95.9254C312.612 95.2257 312.175 94.526 311.738 93.8264C311.994 94.6391 312.38 95.3705 313.049 95.9254Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M220.601 46.2696C217.032 43.8656 212.128 44.0188 208.48 46.6533C208.007 46.9947 207.55 47.3588 207.026 47.7579C206.974 47.4639 206.946 47.2859 206.911 47.1092C206.87 46.8998 206.827 46.6906 206.778 46.4827C205.998 43.1469 204.14 40.6354 201.096 39.0189C196.662 36.664 190.715 38.3128 188.388 42.5516C187.977 43.6738 187.566 44.7958 187.154 45.9181C187.13 45.9345 187.089 45.9475 187.085 45.9673C187.076 46.0218 187.082 46.0792 187.081 46.1354C187.064 46.1512 187.033 46.1654 187.031 46.1831C187.025 46.228 187.033 46.2745 187.035 46.3204C186.598 48.5953 186.96 50.8227 187.545 53.007C189.431 60.0423 193.101 66.1012 197.817 71.5804C198.169 71.9893 198.514 72.0549 199.007 71.9767C204.633 71.0855 209.955 69.2919 214.976 66.6093C217.601 65.2068 220.02 63.5178 222.029 61.2975C226.3 56.5769 225.638 49.6626 220.601 46.2696Z' fill='white'/%3E%3Cpath d='M187.155 45.9182C187.566 44.7958 187.978 43.6737 188.389 42.5516C187.687 43.5674 187.195 44.6599 187.155 45.9182Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M56.9239 30.1634C52.624 30.3283 48.7555 33.345 47.3641 37.6248C47.1837 38.1795 47.0299 38.7428 46.8424 39.3741C46.6269 39.1675 46.4987 39.0407 46.3663 38.9186C46.2095 38.7739 46.0515 38.6301 45.8897 38.491C43.2918 36.2578 40.3099 35.3263 36.8984 35.8172C31.9284 36.5324 28.0998 41.3723 28.7223 46.1675C29.0523 47.3162 29.3822 48.4649 29.7123 49.6137C29.7025 49.6411 29.6769 49.6759 29.6857 49.694C29.71 49.7438 29.7487 49.7865 29.7817 49.8321C29.7767 49.8553 29.7601 49.885 29.7688 49.9006C29.7909 49.9401 29.8244 49.9732 29.8533 50.0089C30.843 52.1032 32.4491 53.6883 34.2106 55.1064C39.8841 59.674 46.4221 62.4006 53.4626 64.0418C53.988 64.1644 54.305 64.0139 54.6572 63.6597C58.6738 59.6207 61.9121 55.0327 64.3833 49.9042C65.6753 47.223 66.6318 44.4321 66.9439 41.4541C67.6072 35.1226 62.9931 29.9307 56.9239 30.1634Z' fill='white'/%3E%3Cpath d='M29.7131 49.6132C29.383 48.4644 29.053 47.3157 28.7231 46.167C28.756 47.4011 29.0027 48.5739 29.7131 49.6132Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M344.333 344.986C342.621 343.551 340.081 343.364 338.054 344.526C337.791 344.676 337.536 344.84 337.244 345.017C337.233 344.863 337.228 344.769 337.219 344.676C337.209 344.566 337.199 344.455 337.185 344.345C336.963 342.581 336.141 341.183 334.657 340.183C332.495 338.727 329.335 339.255 327.904 341.317C327.63 341.874 327.357 342.431 327.084 342.988C327.07 342.995 327.048 343 327.046 343.01C327.038 343.037 327.038 343.067 327.034 343.096C327.024 343.104 327.008 343.109 327.006 343.118C327 343.141 327.002 343.166 327 343.189C326.651 344.34 326.717 345.51 326.901 346.669C327.492 350.404 329.058 353.732 331.195 356.816C331.355 357.047 331.529 357.099 331.788 357.086C334.741 356.931 337.586 356.294 340.324 355.182C341.756 354.6 343.096 353.859 344.254 352.822C346.716 350.617 346.75 347.011 344.333 344.986Z' fill='white'/%3E%3Cpath d='M327.084 342.988C327.357 342.431 327.631 341.874 327.904 341.317C327.487 341.803 327.173 342.341 327.084 342.988Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M119.78 102.34C118.068 100.905 115.528 100.718 113.501 101.88C113.239 102.03 112.983 102.194 112.691 102.371C112.68 102.217 112.675 102.123 112.667 102.03C112.657 101.92 112.646 101.809 112.632 101.699C112.411 99.9347 111.588 98.5372 110.104 97.5373C107.942 96.0806 104.782 96.6089 103.351 98.6711C103.078 99.2281 102.804 99.7851 102.531 100.342C102.518 100.349 102.496 100.354 102.493 100.364C102.485 100.391 102.485 100.421 102.482 100.45C102.472 100.458 102.455 100.463 102.453 100.472C102.448 100.495 102.449 100.52 102.448 100.543C102.099 101.694 102.164 102.864 102.348 104.023C102.94 107.758 104.505 111.086 106.643 114.171C106.802 114.401 106.977 114.453 107.236 114.44C110.189 114.285 113.034 113.648 115.772 112.536C117.203 111.954 118.544 111.213 119.702 110.176C122.163 107.971 122.197 104.365 119.78 102.34Z' fill='white'/%3E%3Cpath d='M102.531 100.342C102.805 99.7851 103.078 99.2281 103.351 98.6711C102.934 99.1575 102.62 99.6947 102.531 100.342Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M144.82 1.50229C142.586 1.4689 140.497 2.92589 139.658 5.10607C139.549 5.38864 139.454 5.67641 139.339 5.99852C139.233 5.88546 139.17 5.8162 139.105 5.74921C139.028 5.66985 138.95 5.59097 138.87 5.51436C137.585 4.28485 136.064 3.71954 134.282 3.87973C131.686 4.11313 129.568 6.51636 129.758 9.0194C129.897 9.62403 130.036 10.2286 130.176 10.8333C130.17 10.8472 130.156 10.8646 130.16 10.8742C130.171 10.9007 130.19 10.9239 130.206 10.9484C130.202 10.9603 130.193 10.9753 130.197 10.9836C130.207 11.0047 130.224 11.0228 130.238 11.0421C130.693 12.1551 131.482 13.0213 132.356 13.8051C135.171 16.3298 138.485 17.924 142.089 18.9694C142.358 19.0475 142.527 18.9782 142.719 18.8043C144.913 16.8215 146.718 14.5326 148.141 11.9423C148.885 10.588 149.458 9.16763 149.702 7.63245C150.221 4.36847 147.973 1.5494 144.82 1.50229Z' fill='white'/%3E%3Cpath d='M130.176 10.833C130.037 10.2284 129.897 9.62374 129.758 9.01914C129.741 9.65983 129.836 10.2746 130.176 10.833Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M296.78 25.3398C295.068 23.9049 292.528 23.7177 290.501 24.8798C290.239 25.0304 289.983 25.1935 289.691 25.3712C289.68 25.2165 289.675 25.1231 289.667 25.03C289.657 24.9196 289.646 24.8093 289.632 24.6993C289.411 22.9347 288.588 21.5372 287.104 20.5373C284.942 19.0806 281.782 19.6089 280.351 21.6711C280.078 22.2281 279.804 22.7851 279.531 23.3422C279.518 23.3493 279.496 23.3538 279.493 23.3639C279.485 23.3915 279.485 23.4214 279.482 23.4504C279.472 23.4576 279.455 23.4633 279.453 23.4723C279.448 23.4952 279.449 23.5196 279.448 23.5434C279.099 24.6942 279.164 25.8639 279.348 27.0234C279.94 30.7581 281.505 34.0856 283.643 37.1705C283.802 37.4008 283.977 37.4533 284.236 37.4397C287.189 37.2851 290.034 36.6481 292.772 35.5357C294.203 34.9541 295.544 34.2135 296.702 33.1763C299.163 30.9709 299.197 27.3652 296.78 25.3398Z' fill='white'/%3E%3Cpath d='M279.531 23.3422C279.805 22.7851 280.078 22.2281 280.351 21.6711C279.934 22.1575 279.62 22.6947 279.531 23.3422Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M38.4398 385.982C36.224 386.267 34.3637 388.006 33.8428 390.283C33.7752 390.579 33.7218 390.877 33.6542 391.212C33.5332 391.115 33.461 391.056 33.3869 390.999C33.2991 390.931 33.2107 390.864 33.1206 390.8C31.6738 389.766 30.0887 389.422 28.3475 389.834C25.8109 390.435 24.0557 393.115 24.6 395.565C24.8239 396.144 25.0478 396.723 25.2717 397.301C25.268 397.316 25.2563 397.335 25.2617 397.344C25.2766 397.369 25.2986 397.389 25.3178 397.411C25.3162 397.423 25.3091 397.439 25.3143 397.447C25.3275 397.466 25.3464 397.482 25.363 397.499C25.9719 398.536 26.8759 399.281 27.8525 399.933C30.9979 402.031 34.5049 403.138 38.2215 403.66C38.4989 403.699 38.6558 403.606 38.8215 403.407C40.7109 401.132 42.1726 398.61 43.2125 395.843C43.7561 394.397 44.1213 392.91 44.1445 391.355C44.1937 388.051 41.5671 385.58 38.4398 385.982Z' fill='white'/%3E%3Cpath d='M25.272 397.301C25.0481 396.722 24.8241 396.144 24.6003 395.565C24.6745 396.202 24.8565 396.797 25.272 397.301Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M336.387 187.701C332.684 188.266 329.633 191.256 328.849 195.095C328.748 195.593 328.67 196.095 328.57 196.66C328.363 196.502 328.24 196.405 328.113 196.312C327.963 196.203 327.813 196.094 327.659 195.989C325.192 194.312 322.521 193.799 319.618 194.559C315.388 195.666 312.551 200.229 313.56 204.316C313.959 205.278 314.357 206.239 314.755 207.2C314.749 207.225 314.731 207.258 314.74 207.273C314.766 207.313 314.804 207.346 314.837 207.383C314.835 207.403 314.823 207.43 314.832 207.443C314.855 207.475 314.887 207.5 314.916 207.529C315.978 209.243 317.523 210.457 319.186 211.511C324.543 214.905 330.467 216.622 336.719 217.351C337.186 217.405 337.445 217.244 337.715 216.903C340.794 213.014 343.145 208.727 344.779 204.048C345.634 201.601 346.187 199.093 346.165 196.486C346.117 190.943 341.615 186.904 336.387 187.701Z' fill='white'/%3E%3Cpath d='M314.755 207.2C314.357 206.238 313.959 205.277 313.56 204.316C313.71 205.38 314.039 206.371 314.755 207.2Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M66.6564 254.313C63.8648 251.814 59.6174 251.362 56.1564 253.199C55.7078 253.437 55.2706 253.697 54.7712 253.978C54.7613 253.719 54.7578 253.562 54.7489 253.405C54.7382 253.22 54.7263 253.034 54.7092 252.849C54.4344 249.879 53.1314 247.491 50.6987 245.734C47.1546 243.174 41.8289 243.887 39.3167 247.265C38.8281 248.184 38.3395 249.103 37.8509 250.022C37.8282 250.033 37.7911 250.039 37.7857 250.056C37.7708 250.102 37.7692 250.152 37.7623 250.201C37.745 250.212 37.7167 250.221 37.7127 250.236C37.7027 250.274 37.7036 250.315 37.7 250.355C37.0522 252.265 37.0984 254.229 37.3429 256.183C38.1305 262.475 40.5733 268.139 43.9875 273.427C44.2423 273.822 44.5317 273.919 44.9666 273.911C49.9253 273.813 54.729 272.9 59.3796 271.185C61.8109 270.289 64.0987 269.121 66.0962 267.445C70.3431 263.883 70.5965 257.84 66.6564 254.313Z' fill='white'/%3E%3Cpath d='M37.8513 250.022C38.3399 249.103 38.8285 248.184 39.3171 247.265C38.5909 248.058 38.0356 248.941 37.8513 250.022Z' fill='white'/%3E%3C/g%3E%3Cg opacity='0.2'%3E%3Cpath d='M167.05 171.34C165.338 169.905 162.798 169.718 160.771 170.88C160.509 171.03 160.253 171.194 159.961 171.371C159.95 171.217 159.945 171.123 159.937 171.03C159.927 170.92 159.916 170.809 159.902 170.699C159.681 168.935 158.858 167.537 157.374 166.537C155.212 165.081 152.052 165.609 150.621 167.671C150.348 168.228 150.074 168.785 149.801 169.342C149.788 169.349 149.766 169.354 149.763 169.364C149.755 169.391 149.755 169.421 149.752 169.45C149.742 169.458 149.725 169.463 149.723 169.472C149.718 169.495 149.719 169.52 149.718 169.543C149.369 170.694 149.434 171.864 149.618 173.023C150.21 176.758 151.775 180.086 153.913 183.171C154.072 183.401 154.247 183.453 154.506 183.44C157.459 183.285 160.304 182.648 163.042 181.536C164.473 180.954 165.814 180.213 166.972 179.176C169.433 176.971 169.467 173.365 167.05 171.34Z' fill='white'/%3E%3Cpath d='M149.801 169.342C150.075 168.785 150.348 168.228 150.621 167.671C150.204 168.157 149.89 168.695 149.801 169.342Z' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
}

.mobile-menu.active {
  transform: translateY(0);
  opacity: 1;
}

.mobile-menu__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  overflow: auto;
  .menu-image-decoration{
    position: relative;
    z-index: 2;
    max-width: 375px;
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  .contact-us-mobile{
    position: relative;
    width: 100%;
    height: 108px;
    padding: 16px;
    background-color: #C8E877;
    font-family: "NT Somic";
    text-align: left;
    font-weight: bold;
    font-size: 26px;
    line-height: 26px;
    color: #1E1E1E;
    border: none;
    box-shadow: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s ease;
    &:hover{
      opacity: 0.8
    }
    .decor-row{
      background-image: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_362)'%3E%3Cpath d='M24.4212 2.28562L1.64126 25.0656M24.4212 2.28562V25.0656M24.4212 2.28562H1.64126' stroke='%231E1E1E' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_362'%3E%3Crect width='26' height='26' fill='white' transform='translate(0 0.7854)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      width: 21px;
      height: 21px;
      bottom: 16px;
      right: 26px;
      z-index: 4;
      position: absolute;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  .adopters-rescues{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-top: 10px;
    
    li{
      height: 138px;
      border-radius: 10px;
      padding: 16px;
      position: relative;
      &::before{
        content: "";
        background-image: url("data:image/svg+xml,%3Csvg width='26' height='27' viewBox='0 0 26 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_362)'%3E%3Cpath d='M24.4212 2.28562L1.64126 25.0656M24.4212 2.28562V25.0656M24.4212 2.28562H1.64126' stroke='%231E1E1E' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_362'%3E%3Crect width='26' height='26' fill='white' transform='translate(0 0.7854)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        width: 20px;
        height: 20px;
        bottom: 16px;
        right: 16px;
        background-size: 100%;
        z-index: 4;
        position: absolute;
        background-repeat: no-repeat;
      }
      &:nth-child(1){
        background-color: #F9CB6C;
      }
      &:nth-child(2){
        background-color: #9EB9FE;
      }
      a{
        font-family:'NT Somic';
        font-weight: bold;
        font-size: 26px;
        line-height: 26px;
        color: #1E1E1E;
        display: inline-block;
        height: 100%;
      }
    }
  }
  .mobile-menu__footer{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .mobile-menu__footer-item{
    padding-left: 25px;
    .header-lang-switcher-footer{
        display: flex;
        align-items: center;
        gap: 8px;
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            background-size: contain;
            left: -25px;
            top: 21%;
            width: 20px;
            height: 20px;
            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_811_4372)'%3E%3Cpath d='M1.66797 9.99996C1.66797 14.6025 5.3988 18.3333 10.0013 18.3333C14.6038 18.3333 18.3346 14.6025 18.3346 9.99996C18.3346 5.39746 14.6038 1.66663 10.0013 1.66663C5.3988 1.66663 1.66797 5.39746 1.66797 9.99996Z' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.837 1.70825C10.837 1.70825 13.337 4.99992 13.337 9.99992C13.337 14.9999 10.837 18.2916 10.837 18.2916M9.17031 18.2916C9.17031 18.2916 6.67031 14.9999 6.67031 9.99992C6.67031 4.99992 9.17031 1.70825 9.17031 1.70825M2.19531 12.9166H17.812M2.19531 7.08325H17.812' stroke='white' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_811_4372'%3E%3Crect width='20' height='20' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        }
        li{
            list-style-type: none;
            font-family: 'Inter',sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 22.4px;
            color: rgba(250, 250, 250, .4);
            &.current-lang{
                color: #ffffff;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: #ffffff;
                    bottom: 0;
                }
            }
        }
    }
    .footer__made-in{
      position: relative;
      font-family: 'Inter',sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.4;
      color: #D9E3FB;
      margin: 0;
      span{
          position: relative;
          padding-right: 17px;
          &::before{
              content: "";
              position: absolute;
              right: 0;
              bottom: 3px;
              width: 14px;
              height: 12px;
              background-image: url("data:image/svg+xml,%3Csvg width='123' height='108' viewBox='0 0 123 108' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_452_332)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M60.83 17.18C68.83 8.83 74.45 1.61 86.83 0.180002C110 -2.46 131.27 21.26 119.57 44.61C116.24 51.26 109.46 59.17 101.96 66.93C93.73 75.45 84.62 83.8 78.24 90.13L60.84 107.39L46.46 93.55C29.16 76.89 0.999959 55.92 -4.06001e-05 29.94C-0.630041 11.74 13.73 0.0800021 30.25 0.290002C45.01 0.490002 51.25 7.83 60.83 17.18Z' fill='%23F9CB6C'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_452_332'%3E%3Crect width='122.88' height='107.39' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
              background-repeat: no-repeat;
              background-size: contain;
          }
      }
    }
  }
}

