.approach-section{
    background: #4071EA;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: relative;
    padding-bottom: 700px;
    padding-top: 120px;
    @media (max-width: 1260px) {
        padding-bottom: 80px;
    }
    @media(max-width:992px){
        padding-top: 60px;
        overflow: hidden;
    }
    @media(max-width:576px){
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: calc(53% - 337px);
        width: 674px;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='675' height='2335' viewBox='0 0 675 2335' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_809_1894)'%3E%3Cpath d='M424.739 2333C405.425 2311.16 375.854 2296.4 351.942 2280.28C318.087 2257.46 285.924 2232.25 261.088 2199.3C242.237 2174.29 250.972 2116.41 250.972 2116.41C250.972 2116.41 264.826 2062.1 291.247 2059.6C339.67 2055.03 365.095 2098.19 348.16 2141.54C342.474 2156.09 328.101 2161.13 313.653 2164.28C286.068 2170.3 250.551 2161.52 224.123 2154.1C169.578 2138.78 134.019 2109.08 98.7615 2056.65C62.2922 2002.43 59.1401 1959.45 52.8147 1893.17C32.4636 1679.9 106.446 1549.87 322.224 1424.66C518.474 1310.78 616.777 1168.91 639.098 1012.33C650.824 930.066 648.832 796.614 614.69 720.947C525.439 523.139 174.987 792.793 75.1902 600.158C-33.2886 390.765 495.883 345.232 364.008 149.915C299.161 53.8715 107.733 2 107.733 2' stroke='%23799CF0' stroke-width='2' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3Cellipse cx='344.092' cy='127.941' rx='38.5' ry='23.7468' transform='rotate(138.888 344.092 127.941)' fill='%234071EA'/%3E%3Cpath d='M361.945 119.876C362.086 122.573 360.532 123.977 358.963 124.589C357.535 125.146 356.328 126.17 355.644 127.542C355.247 128.339 354.513 129.027 353.176 129.133C350.851 129.318 348.584 128.222 347.259 125.3C346.642 123.938 348.427 121.87 348.308 119.661C348.187 117.426 346.151 115.846 346.563 114.331C347.431 111.132 349.411 109.597 352.187 109.981C353.96 110.226 354.89 111.108 355.375 112.029C356.063 113.338 357.218 114.359 358.61 114.86C360.143 115.411 361.781 116.739 361.945 119.876Z' fill='%23799CF0'/%3E%3Cpath d='M364.205 122.65C364.093 124.552 366.123 126.218 368.738 126.371C371.353 126.524 373.563 125.106 373.674 123.205C373.786 121.303 371.756 119.637 369.141 119.484C366.526 119.331 364.316 120.748 364.205 122.65Z' fill='%23799CF0'/%3E%3Cpath d='M358.192 129.426C358.095 131.068 359.848 132.507 362.107 132.639C364.365 132.772 366.274 131.547 366.37 129.905C366.466 128.262 364.713 126.824 362.455 126.691C360.196 126.559 358.288 127.783 358.192 129.426Z' fill='%23799CF0'/%3E%3Cpath d='M363.292 114.83C363.666 116.755 366.116 117.899 368.764 117.385C371.411 116.871 373.254 114.893 372.88 112.967C372.506 111.042 370.057 109.898 367.409 110.412C364.761 110.926 362.918 112.904 363.292 114.83Z' fill='%23799CF0'/%3E%3Cpath d='M356.401 108.789C356.726 110.46 358.851 111.453 361.149 111.007C363.447 110.56 365.046 108.844 364.722 107.173C364.397 105.502 362.271 104.509 359.974 104.955C357.676 105.402 356.076 107.118 356.401 108.789Z' fill='%23799CF0'/%3E%3Cpath d='M328.48 137.936C326.129 139.13 324.26 138.3 323.092 137.143C322.029 136.089 320.637 135.418 319.141 135.351C318.273 135.312 317.368 134.931 316.743 133.779C315.656 131.778 315.736 129.32 317.818 126.979C318.789 125.888 321.342 126.662 323.267 125.68C325.213 124.686 325.816 122.243 327.331 122.01C330.53 121.517 332.685 122.675 333.443 125.304C333.927 126.984 333.508 128.164 332.879 128.961C331.983 130.095 331.53 131.53 331.635 132.971C331.75 134.557 331.215 136.546 328.48 137.936Z' fill='%23799CF0'/%3E%3Cpath d='M326.899 141.052C325.157 141.706 324.475 144.178 325.375 146.572C326.275 148.966 328.416 150.377 330.158 149.722C331.899 149.068 332.581 146.596 331.681 144.202C330.781 141.808 328.64 140.397 326.899 141.052Z' fill='%23799CF0'/%3E%3Cpath d='M318.469 138.371C316.965 138.937 316.376 141.071 317.154 143.139C317.931 145.207 319.78 146.425 321.284 145.86C322.788 145.294 323.377 143.16 322.6 141.092C321.822 139.024 319.973 137.806 318.469 138.371Z' fill='%23799CF0'/%3E%3Cpath d='M333.516 137.136C331.946 138.233 331.896 140.873 333.405 143.032C334.913 145.191 337.409 146.051 338.979 144.954C340.549 143.857 340.599 141.218 339.091 139.059C337.582 136.9 335.087 136.039 333.516 137.136Z' fill='%23799CF0'/%3E%3Cpath d='M336.176 128.593C334.813 129.545 334.77 131.835 336.079 133.709C337.388 135.582 339.554 136.33 340.917 135.377C342.279 134.425 342.323 132.135 341.013 130.261C339.704 128.388 337.539 127.641 336.176 128.593Z' fill='%23799CF0'/%3E%3Cellipse cx='630.301' cy='773.342' rx='38.5' ry='23.7468' transform='rotate(159.813 630.301 773.342)' fill='%234071EA'/%3E%3Cpath d='M649.858 772.185C649.027 774.754 647.073 775.51 645.39 775.522C643.857 775.532 642.364 776.057 641.235 777.095C640.579 777.697 639.648 778.078 638.361 777.699C636.124 777.042 634.398 775.208 634.204 772.005C634.113 770.513 636.519 769.219 637.197 767.113C637.883 764.982 636.545 762.78 637.471 761.511C639.425 758.834 641.822 758.106 644.278 759.457C645.847 760.319 646.4 761.475 646.524 762.508C646.699 763.977 647.413 765.343 648.535 766.308C649.769 767.371 650.826 769.195 649.858 772.185Z' fill='%23799CF0'/%3E%3Cpath d='M650.978 775.583C650.195 777.32 651.495 779.6 653.883 780.677C656.271 781.754 658.842 781.22 659.625 779.483C660.408 777.746 659.107 775.466 656.72 774.389C654.332 773.312 651.761 773.846 650.978 775.583Z' fill='%23799CF0'/%3E%3Cpath d='M642.941 779.764C642.265 781.264 643.388 783.234 645.45 784.164C647.512 785.094 649.733 784.632 650.409 783.132C651.085 781.633 649.962 779.663 647.9 778.733C645.838 777.803 643.618 778.264 642.941 779.764Z' fill='%23799CF0'/%3E%3Cpath d='M652.918 767.952C652.579 769.884 654.459 771.828 657.116 772.293C659.772 772.758 662.2 771.569 662.539 769.637C662.877 767.705 660.998 765.761 658.341 765.296C655.684 764.831 653.256 766.02 652.918 767.952Z' fill='%23799CF0'/%3E%3Cpath d='M648.639 759.849C648.345 761.526 649.976 763.212 652.282 763.616C654.587 764.02 656.694 762.988 656.988 761.311C657.281 759.634 655.651 757.948 653.345 757.544C651.04 757.14 648.932 758.172 648.639 759.849Z' fill='%23799CF0'/%3E%3Cpath d='M612.149 777.101C609.527 777.377 608.078 775.934 607.4 774.436C606.783 773.072 605.722 771.948 604.349 771.352C603.552 771.005 602.843 770.325 602.67 769.027C602.37 766.769 603.322 764.502 606.104 763.06C607.4 762.387 609.508 764.022 611.657 763.791C613.83 763.559 615.265 761.492 616.764 761.815C619.928 762.498 621.527 764.348 621.296 767.075C621.148 768.818 620.335 769.77 619.463 770.29C618.221 771.029 617.286 772.207 616.869 773.59C616.41 775.113 615.2 776.779 612.149 777.101Z' fill='%23799CF0'/%3E%3Cpath d='M609.56 779.447C607.699 779.436 606.18 781.501 606.165 784.059C606.15 786.617 607.647 788.699 609.507 788.71C611.367 788.72 612.887 786.655 612.901 784.097C612.916 781.54 611.42 779.458 609.56 779.447Z' fill='%23799CF0'/%3E%3Cpath d='M602.643 773.933C601.037 773.924 599.724 775.707 599.712 777.916C599.699 780.125 600.991 781.923 602.598 781.933C604.204 781.942 605.517 780.158 605.53 777.949C605.542 775.74 604.25 773.942 602.643 773.933Z' fill='%23799CF0'/%3E%3Cpath d='M617.139 778.153C615.281 778.617 614.291 781.065 614.929 783.62C615.567 786.176 617.591 787.871 619.449 787.407C621.308 786.943 622.297 784.495 621.659 781.94C621.021 779.385 618.998 777.689 617.139 778.153Z' fill='%23799CF0'/%3E%3Cpath d='M622.675 771.123C621.062 771.526 620.203 773.65 620.757 775.867C621.31 778.085 623.067 779.556 624.679 779.154C626.292 778.751 627.151 776.627 626.597 774.409C626.044 772.192 624.287 770.721 622.675 771.123Z' fill='%23799CF0'/%3E%3Cellipse cx='57.1064' cy='1743.06' rx='38.5' ry='23.7468' transform='rotate(176.292 57.1064 1743.06)' fill='%234071EA'/%3E%3Cpath d='M76.1888 1747.49C74.6627 1749.72 72.5751 1749.89 70.9574 1749.43C69.4842 1749 67.9039 1749.08 66.5269 1749.76C65.7272 1750.15 64.7267 1750.25 63.5996 1749.52C61.6406 1748.26 60.5057 1746.01 61.2282 1742.88C61.5648 1741.42 64.2389 1740.87 65.4865 1739.04C66.7484 1737.19 66.0904 1734.7 67.338 1733.75C69.971 1731.73 72.476 1731.71 74.448 1733.71C75.7078 1734.98 75.9106 1736.24 75.7362 1737.27C75.488 1738.73 75.7852 1740.24 76.5867 1741.48C77.4691 1742.85 77.9645 1744.9 76.1888 1747.49Z' fill='%23799CF0'/%3E%3Cpath d='M76.2981 1751.07C75.0544 1752.51 75.6547 1755.07 77.6389 1756.78C79.6231 1758.49 82.2398 1758.71 83.4835 1757.26C84.7272 1755.82 84.1268 1753.26 82.1426 1751.55C80.1584 1749.84 77.5417 1749.63 76.2981 1751.07Z' fill='%23799CF0'/%3E%3Cpath d='M67.4062 1752.8C66.3321 1754.05 66.8506 1756.25 68.5642 1757.73C70.2779 1759.21 72.5378 1759.39 73.6118 1758.15C74.6859 1756.9 74.1675 1754.69 72.4538 1753.22C70.7402 1751.74 68.4803 1751.55 67.4062 1752.8Z' fill='%23799CF0'/%3E%3Cpath d='M80.3237 1744.3C79.4511 1746.06 80.702 1748.46 83.1177 1749.66C85.5333 1750.86 88.1989 1750.4 89.0715 1748.65C89.944 1746.89 88.6931 1744.49 86.2775 1743.29C83.8619 1742.09 81.1963 1742.55 80.3237 1744.3Z' fill='%23799CF0'/%3E%3Cpath d='M78.5191 1735.32C77.7619 1736.84 78.8474 1738.92 80.9437 1739.96C83.04 1741.01 85.3532 1740.61 86.1104 1739.09C86.8676 1737.57 85.7821 1735.49 83.6858 1734.44C81.5895 1733.4 79.2763 1733.79 78.5191 1735.32Z' fill='%23799CF0'/%3E%3Cpath d='M38.6343 1741.51C36.0413 1741.03 35.0611 1739.24 34.8361 1737.61C34.6312 1736.13 33.9332 1734.75 32.7856 1733.79C32.1192 1733.23 31.6323 1732.37 31.8351 1731.08C32.1876 1728.83 33.7438 1726.93 36.8202 1726.33C38.2537 1726.06 39.8118 1728.22 41.9375 1728.61C44.0875 1729 46.0499 1727.43 47.3957 1728.16C50.2361 1729.71 51.2446 1731.94 50.2491 1734.49C49.6131 1736.12 48.5641 1736.8 47.5797 1737.05C46.1797 1737.41 44.9481 1738.28 44.1561 1739.48C43.284 1740.81 41.6514 1742.07 38.6343 1741.51Z' fill='%23799CF0'/%3E%3Cpath d='M35.4849 1743.03C33.7041 1742.49 31.661 1744.04 30.9214 1746.49C30.1819 1748.93 31.026 1751.36 32.8068 1751.89C34.5876 1752.43 36.6308 1750.88 37.3703 1748.43C38.1098 1745.99 37.2657 1743.56 35.4849 1743.03Z' fill='%23799CF0'/%3E%3Cpath d='M30.4178 1735.78C28.8798 1735.31 27.1153 1736.65 26.4766 1738.77C25.8379 1740.88 26.5669 1742.97 28.1049 1743.44C29.6429 1743.9 31.4074 1742.56 32.0461 1740.45C32.6848 1738.33 31.9558 1736.24 30.4178 1735.78Z' fill='%23799CF0'/%3E%3Cpath d='M43.1213 1743.94C41.2076 1743.85 39.5645 1745.92 39.4514 1748.55C39.3383 1751.18 40.7979 1753.38 42.7117 1753.46C44.6254 1753.55 46.2685 1751.48 46.3816 1748.85C46.4947 1746.22 45.0351 1744.02 43.1213 1743.94Z' fill='%23799CF0'/%3E%3Cpath d='M50.4237 1738.77C48.763 1738.69 47.3371 1740.49 47.2389 1742.77C47.1407 1745.05 48.4074 1746.96 50.0682 1747.03C51.7289 1747.11 53.1548 1745.31 53.253 1743.03C53.3511 1740.75 52.0844 1738.84 50.4237 1738.77Z' fill='%23799CF0'/%3E%3Ccircle cx='290.21' cy='2229.63' r='22.8944' transform='rotate(153.904 290.21 2229.63)' fill='%234071EA'/%3E%3Cpath d='M292.755 2228.09C290.112 2222.64 290.206 2216.56 292.484 2211.41C288.935 2210.86 285.192 2211.35 281.717 2213.03C277.974 2214.84 275.126 2217.76 273.37 2221.2C278.533 2222.74 283.059 2226.35 285.586 2231.57C288.113 2236.79 288.142 2242.58 286.146 2247.58C289.932 2248.34 293.987 2247.91 297.73 2246.1C301.205 2244.41 303.908 2241.78 305.682 2238.66C300.226 2237.25 295.397 2233.55 292.755 2228.09Z' fill='%23799CF0'/%3E%3Cpath d='M295.425 2212.11C293.266 2216.59 293.092 2221.98 295.425 2226.8C297.759 2231.62 302.096 2234.82 306.954 2235.91C308.618 2231.39 308.518 2226.23 306.254 2221.56C303.989 2216.88 300.002 2213.6 295.425 2212.11Z' fill='%23799CF0'/%3E%3Cpath d='M283.272 2246.76C285.083 2242.44 285.109 2237.4 282.913 2232.86C280.716 2228.33 276.743 2225.22 272.233 2223.96C270.844 2228.3 271.049 2233.15 273.189 2237.57C275.33 2241.99 279.01 2245.16 283.272 2246.76Z' fill='%23799CF0'/%3E%3Ccircle cx='134.035' cy='657.456' r='30.1025' transform='rotate(137.045 134.035 657.456)' fill='%234071EA'/%3E%3Cpath d='M112.518 663.137C115.281 658.654 121.882 653.414 130.408 649.428C138.934 645.442 147.188 643.738 152.4 644.493C153.758 642.282 154.205 640.252 153.457 638.653C151.191 633.805 139.034 634.701 126.306 640.652C113.577 646.602 105.093 655.356 107.359 660.203C108.106 661.803 109.949 662.762 112.518 663.137Z' fill='%23688DE7'/%3E%3Cpath d='M134.512 658.203C121.783 664.154 109.625 665.049 107.36 660.204L111.462 668.979C113.729 673.826 125.886 672.929 138.615 666.979C151.343 661.028 159.827 652.275 157.561 647.428L153.459 638.654C155.724 643.498 147.241 652.253 134.512 658.203Z' fill='%23799CF0'/%3E%3Cpath d='M138.2 661.942C138.612 662.823 138.232 663.869 137.353 664.28C136.473 664.692 135.427 664.312 135.015 663.431C134.604 662.553 134.984 661.508 135.864 661.096C136.743 660.685 137.789 661.064 138.2 661.942Z' fill='%23688DE6'/%3E%3Cpath d='M148.77 655.648C149.182 656.53 148.803 657.576 147.924 657.986C147.046 658.397 145.999 658.018 145.587 657.137C145.176 656.258 145.557 655.213 146.435 654.803C147.314 654.392 148.36 654.77 148.77 655.648Z' fill='%23688DE6'/%3E%3Cpath d='M126.365 665.537C126.778 666.418 126.396 667.46 125.517 667.871C124.639 668.281 123.595 667.906 123.183 667.024C122.772 666.144 123.152 665.1 124.03 664.69C124.908 664.28 125.954 664.656 126.365 665.537Z' fill='%23688DE6'/%3E%3Cpath d='M142.942 668.549C143.705 670.18 143.001 672.115 141.372 672.877C139.742 673.638 137.806 672.938 137.043 671.306C136.281 669.676 136.985 667.741 138.615 666.979C140.244 666.217 142.18 666.918 142.942 668.549Z' stroke='%23688DE6' stroke-width='3.1723' stroke-miterlimit='10'/%3E%3Cpath d='M138.433 678.541L147.608 674.203C147.622 674.246 147.638 674.286 147.657 674.327C148.068 675.189 149.098 675.554 149.962 675.145C150.823 674.734 151.188 673.705 150.778 672.842C150.44 672.126 149.673 671.756 148.928 671.882C149.498 671.385 149.691 670.556 149.353 669.84C148.94 668.979 147.909 668.611 147.048 669.022C146.185 669.432 145.82 670.463 146.23 671.326L137.056 675.665C137.043 675.623 137.026 675.582 137.007 675.54C136.595 674.679 135.565 674.312 134.703 674.723C133.839 675.133 133.475 676.163 133.885 677.026C134.223 677.742 134.99 678.113 135.735 677.986C135.168 678.484 134.972 679.313 135.312 680.027C135.724 680.889 136.753 681.256 137.614 680.846C138.476 680.435 138.844 679.404 138.433 678.541Z' fill='%23799CF0'/%3E%3Cellipse cx='517.84' cy='1269.27' rx='28.5744' ry='33.7246' transform='rotate(-62.765 517.84 1269.27)' fill='%234071EA'/%3E%3Cpath d='M533.563 1291.19L540.716 1274.58L507.016 1247.89L492.48 1258.65C491.868 1258.92 491.351 1259.29 490.962 1259.77C487.654 1263.95 494.344 1274.76 505.901 1283.91C517.458 1293.07 529.509 1297.11 532.816 1292.93C533.204 1292.44 533.443 1291.85 533.563 1291.19Z' fill='%23799CF0'/%3E%3Cpath d='M540.716 1274.58C537.408 1278.76 527.183 1276.16 517.877 1268.79C508.572 1261.42 503.709 1252.06 507.016 1247.89C510.324 1243.71 520.55 1246.3 529.855 1253.67C539.159 1261.05 544.023 1270.41 540.716 1274.58Z' fill='%23688DE6'/%3E%3Cpath d='M506.064 1252.24C506.655 1256.95 511.067 1263.4 517.877 1268.79C524.688 1274.19 531.977 1277.01 536.701 1276.5C536.109 1271.79 531.696 1265.34 524.886 1259.94C518.076 1254.55 510.787 1251.73 506.064 1252.24Z' fill='%235E80D1'/%3E%3Cpath d='M512.851 1282.12C511.401 1283.95 510.769 1281.58 508.891 1280.09C507.015 1278.61 504.604 1278.56 506.055 1276.73C507.503 1274.9 510.725 1273.92 512.601 1275.41C514.478 1276.9 514.301 1280.29 512.851 1282.12Z' fill='%23688DE6'/%3E%3Cpath d='M516.645 1274.66C515.81 1275.39 514.768 1275.56 514.319 1275.04C513.87 1274.53 514.181 1273.52 515.015 1272.79C515.849 1272.07 516.891 1271.89 517.34 1272.41C517.791 1272.93 517.478 1273.93 516.645 1274.66Z' fill='%23688DE6'/%3E%3Cpath d='M514.292 1272.31C513.933 1273.35 513.118 1274.02 512.471 1273.8C511.823 1273.58 511.589 1272.55 511.949 1271.5C512.307 1270.46 513.123 1269.79 513.77 1270.01C514.416 1270.23 514.65 1271.26 514.292 1272.31Z' fill='%23688DE6'/%3E%3Cpath d='M510.766 1272.42C510.411 1273.47 509.602 1274.14 508.954 1273.93C508.305 1273.71 508.063 1272.68 508.416 1271.63C508.768 1270.58 509.579 1269.91 510.228 1270.13C510.877 1270.34 511.116 1271.37 510.766 1272.42Z' fill='%23688DE6'/%3E%3Cpath d='M517.24 1278.47C516.234 1278.93 515.19 1278.8 514.902 1278.18C514.617 1277.56 515.201 1276.68 516.205 1276.22C517.212 1275.76 518.259 1275.89 518.544 1276.51C518.831 1277.13 518.247 1278.01 517.24 1278.47Z' fill='%23688DE6'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_809_1894'%3E%3Crect width='674' height='2335' fill='white' transform='translate(0.579102)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
    @media(max-width:768px){
        &::before{
            background-image: url("data:image/svg+xml,%3Csvg width='357' height='925' viewBox='0 0 357 925' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M357 1C345.927 10.7054 318.599 34.8448 306.487 43.0692C289.015 54.933 270.9 64.616 251.44 72.4824C225.467 82.9817 197.074 85.1013 170.976 95.3973C120.909 115.148 83.0288 164.811 62.9875 215.615C53.7211 239.105 49.7218 261.76 48.4164 287.096C47.6422 302.124 47.7271 317.626 50.6021 332.413C55.0316 355.196 67.7336 375.21 79.9872 394.061C103.993 430.993 129.983 466.031 156.324 501.111C171.494 521.315 188.403 541.802 201.251 563.7C221.185 597.675 238.411 637.113 244.479 676.992C246.745 691.884 245.637 705.745 242.703 720' stroke='%23799CF0' stroke-width='2' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3Cellipse cx='284.507' cy='53.463' rx='26.192' ry='16.1552' transform='rotate(-142.932 284.507 53.463)' fill='%234071EA'/%3E%3Cpath d='M292.374 64.2293C290.598 64.6989 289.446 63.8595 288.82 62.9004C288.25 62.027 287.4 61.3662 286.391 61.1017C285.805 60.9481 285.244 60.5557 284.987 59.6799C284.54 58.1578 284.954 56.4955 286.716 55.2058C287.536 54.6049 289.162 55.5055 290.617 55.1182C292.088 54.7265 292.856 53.1506 293.923 53.2135C296.174 53.3462 297.472 54.4503 297.603 56.3524C297.687 57.5676 297.229 58.3097 296.683 58.7606C295.907 59.4017 295.389 60.3127 295.249 61.3095C295.095 62.4069 294.44 63.6829 292.374 64.2293Z' fill='%23799CF0'/%3E%3Cpath d='M290.842 66.1202C289.56 66.311 288.734 67.8946 288.996 69.6572C289.258 71.4198 290.51 72.6939 291.792 72.503C293.074 72.3122 293.901 70.7286 293.638 68.966C293.376 67.2035 292.124 65.9293 290.842 66.1202Z' fill='%23799CF0'/%3E%3Cpath d='M285.489 63.0599C284.382 63.2247 283.668 64.5924 283.895 66.1146C284.122 67.6368 285.203 68.7372 286.31 68.5724C287.417 68.4075 288.131 67.0399 287.904 65.5177C287.677 63.9955 286.596 62.8951 285.489 63.0599Z' fill='%23799CF0'/%3E%3Cpath d='M295.921 64.4226C294.691 64.94 294.27 66.7306 294.982 68.422C295.693 70.1134 297.267 71.0651 298.497 70.5477C299.727 70.0303 300.148 68.2397 299.436 66.5483C298.725 64.8569 297.151 63.9052 295.921 64.4226Z' fill='%23799CF0'/%3E%3Cpath d='M298.982 58.9923C297.914 59.4413 297.549 60.9952 298.167 62.4629C298.784 63.9307 300.15 64.7566 301.218 64.3076C302.285 63.8586 302.65 62.3048 302.033 60.837C301.415 59.3692 300.049 58.5433 298.982 58.9923Z' fill='%23799CF0'/%3E%3Cpath d='M275.675 44.461C274.552 43.0622 274.844 41.7018 275.452 40.7629C276.005 39.9078 276.258 38.8875 276.094 37.8822C275.999 37.2984 276.127 36.6427 276.807 36.066C277.988 35.0636 279.635 34.7742 281.485 35.8348C282.346 36.329 282.187 38.1368 283.109 39.2815C284.042 40.4394 285.753 40.5001 286.119 41.4769C286.893 43.5383 286.423 45.1345 284.777 46.0055C283.726 46.562 282.882 46.4475 282.263 46.1394C281.384 45.7011 280.365 45.5993 279.42 45.8699C278.38 46.1677 276.981 46.0886 275.675 44.461Z' fill='%23799CF0'/%3E%3Cpath d='M273.38 43.8424C272.702 42.7741 270.961 42.6643 269.492 43.5972C268.023 44.5301 267.382 46.1523 268.061 47.2207C268.739 48.289 270.48 48.3988 271.949 47.4659C273.418 46.533 274.059 44.9107 273.38 43.8424Z' fill='%23799CF0'/%3E%3Cpath d='M273.99 37.8557C273.404 36.933 271.901 36.8382 270.632 37.6439C269.364 38.4495 268.81 39.8506 269.396 40.7732C269.982 41.6959 271.485 41.7907 272.754 40.9851C274.023 40.1794 274.576 38.7783 273.99 37.8557Z' fill='%23799CF0'/%3E%3Cpath d='M276.915 47.7037C275.966 46.811 274.201 47.1456 272.974 48.4509C271.747 49.7562 271.521 51.5381 272.47 52.4308C273.42 53.3235 275.184 52.9889 276.412 51.6836C277.639 50.3783 277.865 48.5964 276.915 47.7037Z' fill='%23799CF0'/%3E%3Cpath d='M282.971 48.2838C282.147 47.5091 280.616 47.7994 279.551 48.9322C278.486 50.065 278.29 51.6112 279.114 52.3859C279.938 53.1606 281.469 52.8703 282.534 51.7375C283.599 50.6047 283.795 49.0584 282.971 48.2838Z' fill='%23799CF0'/%3E%3Cellipse cx='136.42' cy='470.79' rx='26.192' ry='16.1552' transform='rotate(131.391 136.42 470.79)' fill='%234071EA'/%3E%3Cpath d='M147.747 463.759C148.081 465.566 147.158 466.651 146.154 467.203C145.24 467.705 144.517 468.503 144.177 469.489C143.98 470.062 143.546 470.591 142.654 470.782C141.102 471.113 139.476 470.574 138.323 468.721C137.785 467.857 138.806 466.304 138.529 464.824C138.25 463.327 136.736 462.443 136.879 461.384C137.181 459.15 138.38 457.938 140.287 457.951C141.505 457.959 142.21 458.471 142.619 459.049C143.2 459.871 144.069 460.457 145.052 460.672C146.135 460.908 147.358 461.657 147.747 463.759Z' fill='%23799CF0'/%3E%3Cpath d='M149.518 465.431C149.612 466.723 151.129 467.667 152.906 467.538C154.684 467.409 156.048 466.257 155.955 464.964C155.861 463.672 154.344 462.728 152.567 462.857C150.79 462.986 149.425 464.138 149.518 465.431Z' fill='%23799CF0'/%3E%3Cpath d='M146.062 470.536C146.143 471.652 147.453 472.467 148.988 472.356C150.523 472.245 151.702 471.25 151.621 470.133C151.54 469.017 150.23 468.202 148.695 468.313C147.16 468.425 145.982 469.42 146.062 470.536Z' fill='%23799CF0'/%3E%3Cpath d='M148.209 460.237C148.632 461.503 150.386 462.057 152.126 461.475C153.866 460.893 154.934 459.396 154.51 458.13C154.087 456.864 152.333 456.31 150.593 456.892C148.853 457.474 147.785 458.972 148.209 460.237Z' fill='%23799CF0'/%3E%3Cpath d='M143.024 456.777C143.392 457.875 144.914 458.356 146.424 457.851C147.934 457.346 148.86 456.046 148.493 454.948C148.126 453.85 146.604 453.369 145.094 453.874C143.584 454.379 142.657 455.678 143.024 456.777Z' fill='%23799CF0'/%3E%3Cpath d='M126.78 478.918C125.3 479.933 123.966 479.538 123.075 478.862C122.264 478.245 121.266 477.916 120.251 478.004C119.662 478.055 119.018 477.878 118.494 477.157C117.583 475.903 117.419 474.239 118.616 472.475C119.173 471.653 120.964 471.948 122.175 471.115C123.4 470.272 123.59 468.57 124.591 468.278C126.705 467.662 128.261 468.252 129.006 469.958C129.481 471.048 129.304 471.881 128.95 472.475C128.446 473.319 128.268 474.327 128.467 475.29C128.685 476.349 128.501 477.738 126.78 478.918Z' fill='%23799CF0'/%3E%3Cpath d='M125.991 481.16C124.875 481.756 124.634 483.484 125.454 485.019C126.273 486.554 127.843 487.315 128.959 486.719C130.075 486.123 130.316 484.395 129.497 482.86C128.677 481.325 127.108 480.564 125.991 481.16Z' fill='%23799CF0'/%3E%3Cpath d='M120.066 480.1C119.102 480.615 118.894 482.107 119.602 483.433C120.31 484.759 121.665 485.416 122.629 484.901C123.593 484.387 123.801 482.895 123.094 481.569C122.386 480.243 121.03 479.586 120.066 480.1Z' fill='%23799CF0'/%3E%3Cpath d='M130.107 477.927C129.145 478.806 129.346 480.591 130.555 481.913C131.764 483.236 133.524 483.595 134.485 482.715C135.447 481.836 135.246 480.051 134.037 478.729C132.828 477.406 131.068 477.047 130.107 477.927Z' fill='%23799CF0'/%3E%3Cpath d='M131.142 471.931C130.308 472.694 130.482 474.243 131.531 475.391C132.58 476.538 134.107 476.85 134.942 476.087C135.777 475.324 135.603 473.775 134.553 472.627C133.504 471.48 131.977 471.168 131.142 471.931Z' fill='%23799CF0'/%3E%3Ccircle cx='68.5' cy='199.5' r='16.0695' transform='rotate(153.904 68.5 199.5)' fill='%234071EA'/%3E%3Cpath d='M70.2878 198.421C68.4329 194.592 68.4984 190.323 70.0975 186.707C67.6069 186.326 64.9794 186.667 62.5403 187.849C59.9132 189.121 57.9139 191.168 56.6816 193.582C60.3051 194.661 63.4819 197.197 65.2556 200.859C67.0293 204.522 67.0497 208.586 65.6489 212.098C68.3066 212.628 71.1524 212.329 73.7799 211.056C76.2189 209.876 78.1161 208.026 79.3614 205.835C75.5318 204.847 72.1423 202.251 70.2878 198.421Z' fill='%23799CF0'/%3E%3Cpath d='M72.1614 187.2C70.6459 190.348 70.5238 194.132 72.1614 197.513C73.799 200.894 76.8435 203.144 80.2529 203.907C81.4212 200.736 81.351 197.113 79.7617 193.832C78.1724 190.551 75.374 188.25 72.1614 187.2Z' fill='%23799CF0'/%3E%3Cpath d='M63.6304 211.521C64.9017 208.49 64.9198 204.951 63.3783 201.767C61.8368 198.584 59.0482 196.403 55.882 195.522C54.9074 198.564 55.0514 201.971 56.5534 205.072C58.0564 208.174 60.6389 210.399 63.6304 211.521Z' fill='%23799CF0'/%3E%3Cpath d='M241 724.5C209.5 768.5 141.996 812.912 125.612 824.219C116.82 830.287 107.716 835.983 98.6485 841.626C90.588 846.643 82.3373 851.513 73.2452 854.425C67.1364 856.382 60.7493 856.956 54.3756 857.326C46.5732 857.78 40.2454 857.245 33.5557 852.841C23.1088 845.962 16.5593 833.388 22.78 821.342C29.5203 808.291 45.6323 802.942 59.4953 804.326C66.3285 805.008 73.7483 807.162 79.3401 811.298C87.0248 816.983 93.0036 826.243 97.2832 834.629C100.602 841.133 102.217 848.461 104.158 855.449C106.627 864.337 108.958 873.26 111.35 882.169C115.098 896.127 119.128 909.768 124.296 923.248' stroke='%23799CF0' stroke-width='2' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3Cellipse cx='40.0078' cy='848.828' rx='19.5104' ry='23.0269' transform='rotate(-145.949 40.0078 848.828)' fill='%234071EA'/%3E%3Cpath d='M56.1499 839.946L45.4662 833.75L24.6375 854.434L30.7574 865.161C30.8895 865.598 31.0967 865.979 31.3965 866.282C33.9601 868.863 41.8287 865.203 48.9716 858.11C56.1149 851.017 59.8297 843.174 57.2665 840.593C56.9648 840.291 56.5857 840.08 56.1499 839.946Z' fill='%23799CF0'/%3E%3Cpath d='M45.4676 833.75C48.0304 836.33 45.4443 843.053 39.6928 848.764C33.9424 854.475 27.2025 857.014 24.6389 854.433C22.0773 851.853 24.6622 845.13 30.4137 839.419C36.1657 833.708 42.9059 831.169 45.4676 833.75Z' fill='%23688DE6'/%3E%3Cpath d='M27.5122 855.43C30.7542 855.412 35.4851 852.943 39.6939 848.764C43.9043 844.583 46.406 839.87 46.4469 836.627C43.2037 836.646 38.4717 839.115 34.2632 843.295C30.054 847.475 27.5507 852.188 27.5122 855.43Z' fill='%235E80D1'/%3E%3Cpath d='M48.3175 853.252C49.4407 854.383 47.7866 854.62 46.6266 855.773C45.4672 856.924 45.2405 858.555 44.1181 857.424C42.9949 856.293 42.5913 854.03 43.7529 852.878C44.9123 851.726 47.1947 852.121 48.3175 853.252Z' fill='%23688DE6'/%3E%3Cpath d='M43.568 850.075C43.9943 850.7 44.0267 851.421 43.6389 851.683C43.2533 851.945 42.5965 851.653 42.1695 851.029C41.7448 850.404 41.7123 849.684 42.0998 849.422C42.4857 849.158 43.1426 849.451 43.568 850.075Z' fill='%23688DE6'/%3E%3Cpath d='M41.7834 851.481C42.4645 851.809 42.8521 852.416 42.6486 852.837C42.4455 853.258 41.7295 853.334 41.0484 853.005C40.3696 852.677 39.9801 852.07 40.1848 851.649C40.3868 851.229 41.1032 851.154 41.7834 851.481Z' fill='%23688DE6'/%3E%3Cpath d='M41.5749 853.88C42.2586 854.206 42.6491 854.809 42.45 855.231C42.2492 855.653 41.5343 855.734 40.8502 855.41C40.1686 855.086 39.7779 854.481 39.9771 854.059C40.1771 853.636 40.8933 853.558 41.5749 853.88Z' fill='%23688DE6'/%3E%3Cpath d='M46.1994 849.983C46.4324 850.702 46.2589 851.399 45.8142 851.544C45.3706 851.687 44.8211 851.22 44.5896 850.502C44.3585 849.782 44.5304 849.082 44.9752 848.939C45.4215 848.796 45.9683 849.262 46.1994 849.983Z' fill='%23688DE6'/%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: bottom;
        }
        &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 220px;
            height: 747px;
            background-repeat: no-repeat;
            background-position: top;
            background-image: url("data:image/svg+xml,%3Csvg width='219' height='750' viewBox='0 0 219 750' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35.9994 1C35.9994 1 130.684 35.0726 176.774 75.9597C222.864 116.847 154.199 124.986 133.69 143C95.1398 176.86 39.9911 135.667 10.9994 178C-31.7835 240.471 81.5 412 81.5 412' stroke='%23799CF0' stroke-width='2' stroke-miterlimit='3.8637' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3Cpath d='M84.5 416C87.5091 420.978 97.4437 436.659 101 441.5C108.442 451.63 115.761 460.86 124.085 470.142C134.435 481.681 144.784 493.308 154.738 505.231C163.322 515.513 172.658 526.367 179.376 538.17C190.71 558.082 194.909 583.196 194.521 606.12C194.263 621.398 188.908 636.862 183.144 650.73C176.17 667.507 164.31 680.756 148.542 688.314C135.404 694.611 102.158 703.003 100.027 677.043C99.3782 669.136 107.536 668.347 113.433 667.983C123.541 667.359 135.859 672.293 145.68 675.415C152.589 677.611 159.777 681.814 163.289 688.698C168.192 698.309 170.547 708.974 173.941 719.218C177.245 729.191 183.954 738.493 193.072 743.174C198.253 745.834 214.762 747.195 220.413 748.165' stroke='%23799CF0' stroke-width='2' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3Cellipse cx='155.215' cy='60.5003' rx='23.5738' ry='14.5403' transform='rotate(118.723 155.215 60.5003)' fill='%234071EA'/%3E%3Cpath d='M163.773 52.0963C164.423 53.6165 163.826 54.7516 163.054 55.4345C162.351 56.0563 161.873 56.8994 161.77 57.8325C161.709 58.3744 161.433 58.9246 160.687 59.2681C159.39 59.8651 157.855 59.7135 156.477 58.3135C155.834 57.6612 156.424 56.0959 155.889 54.8509C155.348 53.5917 153.844 53.1137 153.761 52.1557C153.585 50.1338 154.399 48.8335 156.076 48.4683C157.147 48.235 157.867 48.5458 158.34 48.9727C159.013 49.5799 159.892 49.9228 160.797 49.9169C161.795 49.9105 163.017 50.3275 163.773 52.0963Z' fill='%23799CF0'/%3E%3Cpath d='M165.658 53.214C165.996 54.3306 167.514 54.8597 169.049 54.3958C170.585 53.9319 171.556 52.6506 171.218 51.534C170.881 50.4174 169.363 49.8883 167.827 50.3522C166.292 50.8162 165.321 52.0974 165.658 53.214Z' fill='%23799CF0'/%3E%3Cpath d='M163.632 58.3777C163.924 59.3421 165.235 59.799 166.561 59.3983C167.887 58.9977 168.725 57.8911 168.434 56.9268C168.142 55.9624 166.831 55.5055 165.505 55.9061C164.179 56.3068 163.341 57.4134 163.632 58.3777Z' fill='%23799CF0'/%3E%3Cpath d='M163.484 48.9114C164.105 49.9392 165.755 50.0798 167.168 49.2253C168.581 48.3709 169.223 46.845 168.602 45.8171C167.98 44.7893 166.331 44.6487 164.918 45.5032C163.504 46.3576 162.862 47.8835 163.484 48.9114Z' fill='%23799CF0'/%3E%3Cpath d='M158.248 46.8942C158.787 47.7862 160.219 47.9082 161.445 47.1667C162.672 46.4252 163.229 45.101 162.689 44.209C162.15 43.3171 160.719 43.1951 159.492 43.9366C158.266 44.6781 157.709 46.0023 158.248 46.8942Z' fill='%23799CF0'/%3E%3Cpath d='M148.354 69.5407C147.255 70.7236 146.005 70.6407 145.09 70.2222C144.256 69.8411 143.315 69.7492 142.441 70.0265C141.933 70.1875 141.333 70.1591 140.73 69.6292C139.683 68.7083 139.21 67.2789 139.913 65.4937C140.241 64.6619 141.872 64.5676 142.771 63.5968C143.68 62.6148 143.51 61.0835 144.332 60.6294C146.067 59.671 147.55 59.8816 148.54 61.2332C149.173 62.0967 149.182 62.863 148.988 63.4541C148.713 64.2948 148.755 65.2152 149.119 66.0212C149.521 66.9087 149.633 68.1645 148.354 69.5407Z' fill='%23799CF0'/%3E%3Cpath d='M148.104 71.6654C147.241 72.4091 147.371 73.9736 148.393 75.1599C149.416 76.3461 150.944 76.7049 151.807 75.9611C152.67 75.2174 152.54 73.6529 151.518 72.4666C150.495 71.2804 148.967 70.9216 148.104 71.6654Z' fill='%23799CF0'/%3E%3Cpath d='M142.693 71.9037C141.948 72.546 142.06 73.8972 142.943 74.9217C143.826 75.9462 145.146 76.256 145.891 75.6137C146.636 74.9714 146.524 73.6202 145.641 72.5957C144.758 71.5712 143.438 71.2614 142.693 71.9037Z' fill='%23799CF0'/%3E%3Cpath d='M151.081 68.0173C150.41 68.9794 150.938 70.5071 152.261 71.4296C153.584 72.3521 155.2 72.3201 155.871 71.3581C156.542 70.3961 156.014 68.8684 154.691 67.9458C153.368 67.0233 151.752 67.0553 151.081 68.0173Z' fill='%23799CF0'/%3E%3Cpath d='M150.806 62.5458C150.224 63.3807 150.683 64.7064 151.831 65.507C152.979 66.3076 154.381 66.2798 154.963 65.445C155.546 64.6101 155.087 63.2844 153.939 62.4838C152.791 61.6832 151.389 61.711 150.806 62.5458Z' fill='%23799CF0'/%3E%3Cellipse cx='172.524' cy='532.828' rx='18.7472' ry='22.1262' transform='rotate(-141.434 172.524 532.828)' fill='%234071EA'/%3E%3Cpath d='M188.659 525.54L178.894 518.797L157.377 537.035L162.428 547.773C162.522 548.202 162.691 548.582 162.956 548.895C165.216 551.561 173.03 548.651 180.409 542.396C187.788 536.142 191.94 528.91 189.68 526.244C189.414 525.932 189.066 525.702 188.659 525.54Z' fill='%23799CF0'/%3E%3Cpath d='M178.894 518.796C181.154 521.462 178.168 527.706 172.227 532.742C166.286 537.778 159.638 539.7 157.378 537.034C155.119 534.368 158.104 528.124 164.045 523.088C169.987 518.053 176.635 516.131 178.894 518.796Z' fill='%23688DE6'/%3E%3Cpath d='M160.052 538.207C163.159 538.434 167.878 536.427 172.226 532.742C176.575 529.056 179.328 524.731 179.612 521.627C176.504 521.399 171.785 523.407 167.437 527.092C163.089 530.778 160.335 535.103 160.052 538.207Z' fill='%235E80D1'/%3E%3Cpath d='M180.15 537.694C181.141 538.862 179.538 538.964 178.34 539.981C177.142 540.996 176.802 542.541 175.812 541.372C174.822 540.204 174.606 538.005 175.806 536.99C177.004 535.975 179.16 536.525 180.15 537.694Z' fill='%23688DE6'/%3E%3Cpath d='M175.843 534.291C176.204 534.922 176.181 535.615 175.789 535.837C175.4 536.059 174.793 535.729 174.431 535.099C174.072 534.469 174.095 533.776 174.486 533.554C174.876 533.331 175.483 533.662 175.843 534.291Z' fill='%23688DE6'/%3E%3Cpath d='M174.026 535.503C174.654 535.869 174.979 536.479 174.752 536.867C174.526 537.256 173.834 537.273 173.207 536.907C172.582 536.542 172.254 535.93 172.482 535.543C172.707 535.156 173.399 535.138 174.026 535.503Z' fill='%23688DE6'/%3E%3Cpath d='M173.644 537.785C174.275 538.149 174.603 538.756 174.381 539.145C174.156 539.534 173.465 539.558 172.835 539.195C172.206 538.834 171.878 538.225 172.1 537.836C172.324 537.446 173.016 537.425 173.644 537.785Z' fill='%23688DE6'/%3E%3Cpath d='M178.369 534.401C178.538 535.108 178.319 535.762 177.882 535.868C177.446 535.971 176.955 535.482 176.788 534.777C176.621 534.07 176.839 533.413 177.275 533.309C177.714 533.205 178.202 533.694 178.369 534.401Z' fill='%23688DE6'/%3E%3C/svg%3E%0A");
        }
    }

    .approach-slider{
        position: relative;
        z-index: 2;
        .approach-slider__title{
            font-family: 'NT Somic';
            font-weight: bold;
            font-size: 62px;
            line-height: 68.2px;
            color: #ffffff;
            margin-bottom: 60px;
            @media(max-width:992px){
                margin-bottom: 30px;
                font-size: 36px;
            }
        }
        .approach-slider__content{
            .swiper-wrapper{
                .approach-slider__item{
                    background-color: #668DEE;
                    border-radius: 20px;
                    padding-top: 40px;
                    padding-bottom: 40px;
                    padding-left: 40px;
                    padding-right: 60px;
                    display: flex;
                    column-gap: 40px;
                    min-width: 282px;
                    @media(max-width:992px){
                        flex-direction: column;
                        padding: 20px;
                    }
                    .approach-slider__item-icon{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        @media(max-width:992px){
                            flex-direction: row;
                            margin-bottom: 20px;
                        }
                        img{
                            min-width: 110px;
                            min-height: 110px;
                            border-radius: 100%;
                            @media(max-width:992px){
                                min-width: 110px;
                                min-height: 110px;
                            }
                        }
                        .slider-number{
                            font-family: 'Inter', sans-serif;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 21.6px;
                            color: #D9E3FB;
                            @media(max-width:576px){
                                font-size: 14px;
                            }
                        }
                    }
                    .approach-slider__item-content{
                        flex-grow: 0;
                        .approach-slider__item-title{
                            font-family: 'NT Somic';
                            font-weight: bold;
                            font-size: 32px;
                            line-height: 36.48px;
                            color: #ffffff;
                            margin-bottom: 16px;
                        }
                        .approach-slider__item-description{
                            font-family: 'Inter',sans-serif;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 25.2px;
                            color: #D9E3FB;
                            @media(max-width:576px){
                                font-size: 14px;
                                line-height: 21px;
                            }
                        }
                    }
                }
            }
        }
    }

    .approach-decoration__title{
        padding-top: 120px;
        position: relative;
        z-index: 2;
        @media (max-width:992px) {
            padding-top: 0;
        }
        .approach-decoration__title-inner {
            font-family: 'NT Somic',sans-serif;
            font-weight: bold;
            text-align: left;
            font-size: 110px;
            line-height: 110px;
            color: #ffffff;
            @media (max-width: 1100px) {
                font-size: 95px;
                line-height: 95px;
            }
            @media (max-width: 920px) {
                font-size: 85px;
                line-height: 85px;
            }
            @media (max-width: 870px) {
                font-size: 80px;
                line-height: 78px;
            }
            @media (max-width: 855px) {
                display: none;
                opacity: 0;
            }
            span{
                &:nth-child(1){
                    position: relative;
                    right:0;
                }
                &:nth-child(3){
                    position: relative;
                    right: -160px;
                }
                &:nth-child(5){
                    position: relative;
                    right: 0;
                }
                .title_image{
                    display: inline-block;
                    line-height: 0;
                    position: relative;
                    width: 144px;
                    height: 144px;
                    .title_image-item{
                        width: auto;
                        height: auto;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
        .approach-decoration__title-inner-mobile {
            font-family: 'NT Somic',sans-serif;
            font-weight: bold;
            text-align: left;
            font-size: 110px;
            line-height: 110px;
            color: #ffffff;
            display: none;
            opacity: 0;

            @media (max-width: 855px) {
                display: block;
                opacity: 1;
                font-size: 55px;
                line-height: 55px;
                text-align: center;
                padding-top: 80px;
            }
            @media (max-width: 520px) {
                padding-top: 40px;
                br{
                    display: none;
                }
            }
            span{
                &:nth-child(1){
                    position: relative;
                    right:0;
                   
                    @media (max-width: 520px) {
                        display: block;
                        text-align: left;
                    }
                }
                &:nth-child(3){
                    position: relative;
                    right: -160px;
                    @media (max-width: 855px) {
                        right: 75px;
                    }
                    @media (max-width: 520px) {
                        display: block;
                        text-align: left;
                        right: unset;
                    }
                }
                &:nth-child(5){
                    position: relative;
                    right: 0;
                    word-spacing: 30px;
                    @media (max-width: 520px) {
                        display: block;
                        text-align: left;
                        padding-left: 25px;
                    }
                }
                &:nth-child(7){
                    position: relative;
                    left: -100px;
                    @media (max-width: 520px) {
                        display: block;
                        text-align: left;
                        left: unset;
                    }
                }
                &:nth-child(9){
                    position: relative;
                    left: -100px;
                    @media (max-width: 520px) {
                        display: block;
                        text-align: left;
                        left: unset;
                    }
                }
                &:nth-child(11){
                    position: relative;
                    left: -100px;
                    @media (max-width: 520px) {
                        display: block;
                        text-align: left;
                        left: unset;
                    }
                }
                .title_image{
                    display: inline-block;
                    line-height: 0;
                    position: relative;
                    width: 144px;
                    height: 144px;
                    margin-left: 30px;
                    &::before{
                        content: "(";
                        position: absolute;
                        font-family: 'NT Somic';
                        font-weight: bold;
                        text-align: right;
                        font-size: 65px;
                        line-height: 55px;
                        color: #ffffff;
                        z-index: 2;
                        left: -25px;
                        top: 32%;
                        
                    }
                    @media (max-width: 576px) {
                        &::before{
                            font-size: 45px;
                            line-height: 45px;
                            top: 20%;
                        }
                    }
                    &::after{
                        content: ")";
                        position: absolute;
                        font-family: 'NT Somic';
                        font-weight: bold;
                        text-align: right;
                        font-size: 65px;
                        line-height: 55px;
                        color: #ffffff;
                        z-index: 2;
                        right: -25px;
                        top: 32%;
                    }
                    @media (max-width: 576px) {
                        &::after{
                            font-size: 45px;
                            line-height: 45px;
                            top: 20%;
                        }
                    }
                    @media (max-width:576px) {
                        width: 70px;
                        height: 70px;
                    }
                    .title_image-item{
                        width: auto;
                        height: auto;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }
                }
            }
        }
        
    }
    .parallax-section{
        z-index: 2;
        position: relative;
        padding-top: 80px;
        @media (max-width:576px) {
            padding-top: 45px;
        }
        .parallax-section__content{
            max-width: 427px;
            position: relative;
            left: 170px;
            @media (max-width:992px) {
                max-width: 100%;
                left: 0;
            }
            .parallax-section__content-title{
                font-family: 'NT Somic', sans-serif;
                font-weight: bold;
                font-size: 32px;
                line-height: 36.48px;
                color: #ffffff;
                margin-bottom: 20px;
                @media (max-width:576px) {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
            .parallax-section__content-description{
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 25.2px;
                color: #D9E3FB;
                margin-bottom: 30px;
                @media (max-width:576px) {
                    font-size: 14px;
                    line-height: 21px;
                }
            }
            .parallax-section__content-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 62px;
                line-height: 62px;
                border-radius: 60px;
                width: 200px;
                background-color: #F9CB6C;
                transition: all .5s ease;
                @media(max-width: 576px){
                    width: 177px;
                    height: 60px;
                }
                &:hover{
                    background-color: #f7ba3b;
                }
                span{
                    position: relative;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 16px;
                    text-align: center;
                    color: #1E1E1E;
                    margin-left: -15px;
                    &::before{
                        content: "";
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='20' viewBox='0 0 24 20' fill='none'%3E%3Cpath d='M16.2426 6.75729L7.75736 15.2426M16.2426 6.75729V15.2426M16.2426 6.75729H7.75736' stroke='%231E1E1E' stroke-width='1.6' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                        width: 24px;
                        height: 20px;
                        position: absolute;
                        right: -30px;
                        bottom: 21px;
                    }
                }
            }
        } 
    }
    .parallax-images{
        width: 1320px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        top: 0;
        bottom: 0;
        pointer-events: none;
        perspective: 1000px;
        @media(max-width:1320px){
            width: 1150px;
        }
        @media(max-width:1265px){
            width: 875px;
        }
        @media (max-width: 1260px) {
            position: relative;
            width: 800px;
            height: 100vh;
            min-height: 900px;
            left: auto;
            transform: none;
            pointer-events: auto;
            margin: 0 auto;
        }
        @media (max-width: 810px) {
            width: 680px;
        }
        @media (max-width: 720px) {
            width: 500px;
        }
        @media (max-width: 520px) {
            width: 335px;
        }
        .parallax-item{
            border-radius: 16px;
            will-change: transform;
            transition: transform 0.2s ease-out;
            &:nth-child(1){
                width: 200px;
                height: 200px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                bottom: 325px;
                left: 0;
                @media(max-width:1260px){
                    width: 150px;
                    height: 150px;
                    top: 310px;
                    left: 0;
                }
                @media (max-width: 520px) {
                    width: 105px;
                    height: 105px;
                    top: 220x;
                }
            }
            &:nth-child(2){
                width: 204px;
                height: 400px;
                background-size: cover;
                background-position: center; 
                background-repeat: no-repeat;
                position: absolute;
                bottom: 80px;
                left: 220px;
                @media(max-width:1260px){
                    width: 160px;
                    height: 315px;
                    top: 65px;
                    left: 315px;
                }
                @media(max-width:720px){
                    left: 168px;
                }
                @media (max-width: 520px) {
                    width: 105px;
                    height: 207px;
                    left: 115px;
                }
            }
            &:nth-child(3){
                width: 200px;
                height: 200px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                position: absolute;
                right: 0;
                top: 56%;
                @media(max-width:1260px){
                    width: 150px;
                    height: 150px;
                    top: 40px;
                }
                @media (max-width: 520px) {
                    width: 105px;
                    height: 105px;
                }
            }
            &:nth-child(4){
                width: 204px;
                height: 400px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                right: 220px;
                top: 58%;
                position: absolute;
                @media(max-width:1260px){
                    width: 160px;
                    height: 315px;
                    top: 580px;
                    right: 0;
                }
                @media(max-width:720px){
                    right: 30;
                }
                @media (max-width: 520px) {
                    width: 140px;
                    height: 250px;
                }
            }
            &:nth-child(5){
                width: 200px;
                height: 200px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                right: 0;
                top: 78%;
                position: absolute;
                @media(max-width:1260px){
                    width: 150px;
                    height: 150px;
                    top: 375px;
                    right: 50px;
                }
                @media(max-width:720px){
                    top: 395px;
                    right: 0;
                }
                @media (max-width: 520px) {
                    width: 105px;
                    height: 105px;
                    top: 285px;
                }
                
            }
            &:nth-child(6){
                width: 200px;
                height: 200px;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                right: 445px;
                top: 73%;
                position: absolute;
                @media(max-width:1260px){
                    width: 180px;
                    height: 180px;
                    top: 520px;
                    left: 150px;
                }
                @media(max-width:720px){
                    left: 0;
                }
                @media (max-width: 520px) {
                    top: 495px;
                }
            }
        }
        .decoration_lable{
            position: absolute;
            font-family: 'Inter',sans-serif;
            font-weight: 600;
            font-size: 16px;
            line-height: 22.4px;
            text-align: center;
            color: #ffffff;
            bottom: 721px;
            right: 155px;
            z-index: 9;
            @media (max-width:1260px) {
                bottom: 855px;
            }
            @media (max-width:576px) {
                width: 150px;
                height: 110px;
                font-size: 14px;
                justify-content: center;
                display: flex;
                align-items: center;
                bottom: 800px;
                right: 50px;
            }
            &::before{
                content: "";
                position: absolute;
                z-index: -1;
                background-image: url("data:image/svg+xml,%3Csvg width='206' height='150' viewBox='0 0 206 150' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M100.871 1.4018C102.488 -0.498588 105.43 -0.461096 106.997 1.47986L121.964 20.0144C123.051 21.3611 124.882 21.8506 126.495 21.2257L153.139 10.9024C155.755 9.88877 158.569 11.8307 158.556 14.6405L158.469 32.9745C158.458 35.1583 160.204 36.9442 162.383 36.9806L189.995 37.442C193.335 37.4978 195.126 41.4014 192.992 43.9762L181.663 57.6459C179.962 59.6984 180.714 62.8126 183.163 63.8602L203.582 72.5946C206.851 73.9925 206.791 78.6536 203.489 79.9678L182.854 88.179C180.379 89.1639 179.549 92.2579 181.197 94.3531L192.175 108.307C194.242 110.935 192.354 114.792 189.013 114.763L161.398 114.52C159.218 114.501 157.429 116.242 157.384 118.425L157.005 136.756C156.947 139.565 154.084 141.435 151.494 140.355L125.122 129.356C123.525 128.69 121.683 129.132 120.561 130.451L105.129 148.598C103.512 150.499 100.57 150.461 99.0029 148.52L84.0361 129.986C82.9487 128.639 81.1176 128.149 79.5048 128.774L52.8614 139.098C50.2453 140.111 47.431 138.169 47.4444 135.36L47.5312 117.025C47.5415 114.842 45.7965 113.056 43.6167 113.019L16.0048 112.558C12.6646 112.502 10.8744 108.599 13.0082 106.024L24.3366 92.3541C26.0376 90.3016 25.286 87.1874 22.8369 86.1398L2.41756 77.4054C-0.850621 76.0074 -0.791414 71.3464 2.51121 70.0322L23.1458 61.821C25.6207 60.8361 26.4511 57.742 24.8028 55.6469L13.8252 41.6929C11.7575 39.0646 13.6463 35.2079 16.9869 35.2372L44.6015 35.4796C46.7815 35.4987 48.5714 33.7579 48.6165 31.5746L48.9953 13.2443C49.0534 10.4351 51.916 8.56546 54.5056 9.64546L80.8782 20.6444C82.4746 21.3102 84.3175 20.8675 85.4388 19.5489L100.871 1.4018Z' fill='%23668DEE'/%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                width: 206px;
                height: 160px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
            @media (max-width:576px) {
                &::before{
                    width: 150px;
                    height: 110px;
                }
            }
        }
    }
    
}



