.bottom-form{
    background-color: #4071EA;
    padding-top: 0;
    .bottom-form__content{
        /*** Form Header ***/
            overflow: hidden;
            padding: 60px;
            background-color: #EBEAE8;
            border-radius: 30px;
            display: flex;
            column-gap: 90px;
            position: relative;
            @media(max-width:1200px){
                padding: 30px;
            }
            @media(max-width:992px){
                flex-direction: column;
            }
            @media(max-width:576px){
                padding: 15px;
            }
        .bottom-form-header{
            flex: 1;
            position: relative;
            .bottom-form-header__title{
                font-family: 'NT Somic';
                font-weight: bold;
                font-size: 45px;
                line-height: 47px;
                color: #1E1E1E;
                margin-bottom: 50px;
                @media(max-width:1200px){
                    font-size: 32px;
                    line-height: 32px;
                    margin-bottom: 16px;
                }
            }
            .bottom-form-header__description{
                position: relative;
                font-family: 'Inter',sans-serif;
                font-weight: 500;
                font-size: 18px;
                line-height: 25.2px;
                color: #55534E;
                max-width: 257px;
                right: -165px;
                @media(max-width:1200px){
                    right: -40px;
                }
                @media(max-width:1000px){
                    right: 0;
                }
                @media(max-width:992px){
                    max-width: 100%;
                }
                &::before{
                    content: "";
                    position: absolute;
                    background-image: url("data:image/svg+xml,%3Csvg width='126' height='81' viewBox='0 0 126 81' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1C1.85419 6.04589 6.90107 11.1185 10.0905 15.0057C21.7371 29.2003 36.6169 41.9541 52.2761 52.3758C67.8 62.7075 83.7557 70.8993 102.238 75.9984C109.468 77.993 117.36 80 125 80' stroke='%23D7D3CB' stroke-width='2' stroke-linecap='round' stroke-dasharray='6 6'/%3E%3C/svg%3E");
                    width: 124px;
                    height: 80px;
                    background-repeat: no-repeat;
                    background-size: contain;
                    left: -155px;
                    top: -35px;
                }
            }
        }
    
        /*** Form Content ***/
        .bottom-form-content {
            padding: 40px;
            width: 590px;
            background-color: #4071EA;
            max-width: 90%;
            border-radius: 30px;
            text-align: center;
            position: relative;
            @media(max-width:992px){
                width: 100%;
                max-width: 100%;
                border-radius: 16px;
            }
            @media(max-width:768px){
                padding: 20px;
            }
            .contact-form__wrapper{
                .contact-form__row{
                display: flex;
                flex-direction: column;
                margin-bottom: 30px;
                &:last-child{
                    margin-bottom: 0;
                }
                .contact-form__label{
                    text-align: left;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 25.2px;
                    color: #D9E3FB;
                    display: flex;
                    column-gap: 28px;
                    @media(max-width:768px){
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
                .checkbox-field-set {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        padding-left: 40px;
                        .wpcf7-list-item {
                            position: relative;
                            cursor: pointer;
                            margin: 0;
                        }
                    @media(max-width:768px){
                        padding-left: 0;
                    }
                    .wpcf7-form-control-wrap{
                        width: 260px;
                    .wpcf7-form-control{
                        display: grid;
                        row-gap: 20px;
                        grid-template-columns: repeat(2, 1fr);
                    }
                    }
                    .wpcf7-list-item input[type="checkbox"] {
                        position: absolute;
                        opacity: 0;
                        width: 20px;
                        height: 20px;
                        cursor: pointer;
                        z-index: -1;
                    }
                    .wpcf7-list-item .wpcf7-list-item-label {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding-left: 30px;
                        cursor: pointer;
                        position: relative;
                        font-family: 'Inter',sans-serif;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19.2px;
                        color: #D9E3FB;
                    }
                    .wpcf7-list-item .wpcf7-list-item-label::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 20px;
                        height: 20px;
                        background: #fff;
                        border-radius: 4px;
                        transition: all 0.3s ease;
                    }
                    .wpcf7-list-item .wpcf7-list-item-label::after {
                        content: "";
                        position: absolute;
                        left: 6px;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 8px;
                        height: 8px;
                        background: #1E1E1E;
                        border-radius: 1px;
                        opacity: 0;
                        transition: opacity 0.3s ease;
                    }
                    .wpcf7-list-item input[type="checkbox"]:checked + .wpcf7-list-item-label::after {
                        opacity: 1;
                    }
                }
                .wpcf7-form-control-wrap{
                    input{
                    width: 100%;
                    height: 70px;
                    padding-left: 60px;
                    padding-bottom: 20px;
                    padding-top: 20px;
                    background-color: transparent;
                    border: none;
                    border-bottom: 1px solid #ffffff;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 25.2px;
                    color: #ffffff;
                    &.wpcf7-not-valid{
                        border-color: red !important;
                        text-align: left;
                    }
                    }
                }
                .custom-country-list{
                    border: none;
                    border-bottom: 1px solid #ffffff;
                    width: 100%;
                    cursor: pointer;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 7L6.5 6.91964M6.5 7L0.999999 1M6.5 7L12 1' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
                        width: 11px;
                        height: 6px;
                        right: 5px;
                        top: 29px;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                    .selected-country{
                    display: flex;
                    align-items: center;
                    column-gap: 8px;
                    text-align: left;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 25.2px;
                    color: #D9E3FB;
                    margin-top: 20px;
                    margin-bottom: 30px;
                    padding-left: 66px;
                    img{
                        width: 22px;
                        height: 16px;
                        object-fit: cover;
                        border-radius: 2px;
                    }
                    }
                    ul{
                        list-style: none;
                        padding-left: 10px;
                        padding-right: 10px;
                        margin: 0;
                        list-style: none;
                        max-height: 260px;
                        overflow-y: auto;
                        background: white;
                        border: 1px solid #ccc;
                        display: none;
                        position: absolute;
                        width: 100%;
                        top: 100%;
                        left: 0;
                        z-index: 1000;
                        scrollbar-width: thin;
                        scrollbar-color: #dddddd #f1f1f1;
                        &::-webkit-scrollbar {
                            width: 8px;
                        }
                        &::-webkit-scrollbar-track {
                            background: #f1f1f1;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: #dddddd;
                            border-radius: 10px;
                        }
                        &::-webkit-scrollbar-thumb:hover {
                            background: #dddddd;
                        }
                        li{
                            text-align: left;
                            cursor: pointer;
                            padding-bottom: 5px;
                            padding-top: 5px;
                            &:last-child{
                                padding-bottom: 0;
                            }
                            img{
                                width: 22px;
                                height: 16px;
                                object-fit: cover;
                                border-radius: 2px;
                            }
                        }
                    }
                    &.active{
                        ul{
                            display: block;
                        }
                        &::before{
                            transform: rotate(180deg);
                        }
                    }
                }
            }
                .submited-row{
                    position: relative;
                .contact-form__message{
                    height: 75px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    p{
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 1.4;
                    color: #ffffff;
                    margin-bottom: 0;
                    }
                }
                .submited-btn{
                    position: relative;
                    width: 100%;
                    border-radius: 50px;
                    font-family: 'Inter',sans-serif;
                    font-weight: 500;
                    font-size: 18px;
                    background-color: #F9CB6C;
                    height: 65px;
                    color: #1E1E1E;
                    border: 0;
                    transition: all .5s ease;
                    @media (max-width:768px) {
                        width: 100%;
                        height: 60px;
                        font-size: 16px;
                    }
                    &:hover{
                    background-color: #f7ba3b;
                    }
                }
                }
            }
        }

        .bottom-form-header__image{
            opacity: 0;
            transform: translateY(30px);
            position: absolute;
            left: -10px;
            bottom: -15px;
            transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s; 
            @media(max-width:1100px){
                width: 320px;
            }
            &.active{
                opacity: 1;
                transform: translateY(0);
            }
            @media(max-width:992px){
                display: none;
                opacity: 0;
            }
        }

        .bottom-form-content__wrapper{
            position: relative;
            @media(max-width:992px){
                margin-top: 155px;
            }
        }

        .bottom-form-header__image-mobile{
            display: none;
            opacity: 0;
            transform: translateY(30px);
            position: absolute;
            left: 25%;
            top: -138px;
            transition: opacity 0.5s ease-out 0.3s, transform 0.5s ease-out 0.3s;
            width: 224px;
            height: 190px;
            @media (max-width:992px) {
                display: block;
            }
            &.active{
                opacity: 1;
                transform: translateY(0);
            }
        }

        .wpcf7 form .wpcf7-response-output{
            display: none!important;
        }
        .wpcf7-spinner{
            display: none!important;
        }
        .wpcf7-not-valid-tip{
            text-align: left;
            font-size: 12px;
        }
        
        .custom-country-list ul li:hover {
            background: #eee;
        }

    }
}